/* The sidebar menu */
.page_content {
    display: flex; /* side-by-side layout */
    flex-direction: row;
}

.sidenav {
  width: 200px;        /* fixed width */
    padding: 10px;
    background-color: #FFCC00;
    box-sizing: border-box;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  flex: 1;             /* Take remaining horizontal space */
    padding: 20px;
    box-sizing: border-box;
    font-size: 28px;
}

/* --- END SIDEBAR --- */


/* --- BEGIN FOOTER --- */

/* footer {
    height:100%;
    padding: 10px;
    background-color:#bca33d;
}

footer p {
    margin: 0px;
    padding: 5px;
    color: white;
} */

/* --- END FOOTER --- */