/* Style sheet for the website. Includes navigation sidebar and header. */
/* As of writing, this style sheet relies on display_database_tools.php for HTML structure,
   specifically the render_display_database_page() function. */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


/* --- BEGIN HEADER --- */

.headertitle {
    width: 100%;
    background-color: #363333;
}

header:link {
  color: rgb(107, 128, 0);
  background-color: transparent;
  text-decoration: none;
}

.header .headertitle h1 {
    margin: 0px;
    padding: 15px;
    color: white;
}

.header table {
    width: 100%;
}

.topnav {
    width: 100%;
    position: relative;
    background-color: #FFCC00;
}

.topnav:before {      /* Line divider */
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
}

.header table tbody tr td a {
    display: inline-block;
    padding: 10px;
    margin-left:10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
    color: black;
}

.header table tbody tr td a:hover {
    color: white;
    transform: scale(1.1);
}


/* --- END HEADER --- */


/* --- BEGIN SIDEBAR --- */

.sidenav {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    padding-right: 10px;
    background-image: linear-gradient(to bottom, #FFCC00, #bca33d);
}

.sidenav ul {
    width: 100%;
}

.sidenav ul a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
}

.sidenav a:hover {
    color: white;
    transform: scale(1.1);
}

/* --- END SIDEBAR --- */


/* --- BEGIN MAIN / PAGE CONTENT --- */
/* Note that main lumps both the header and page-content of the page together */

.main {
    display: flex;
}

.main .page-content {
    width: 100%;
    padding: 20px;
}

.main {

        thead {
            font-size: 1.2em;
            
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Calendar-specific styles */
        .calendar table {
            table-layout: fixed;
        }

        /* Alternate column colors for calendar */
        .calendar table tr th:nth-child(1),
        .calendar table tr td:nth-child(1) {
            background-color: lightgrey;
        }

        .calendar table tr th:nth-child(2),
        .calendar table tr td:nth-child(2) {
            background-color: white;
        }

        .calendar table tr th:nth-child(3),
        .calendar table tr td:nth-child(3) {
            background-color: lightgrey;
        }

        .calendar table tr th:nth-child(4),
        .calendar table tr td:nth-child(4) {
            background-color: white; 
        }

        .calendar table tr th:nth-child(5),
        .calendar table tr td:nth-child(5) {
            background-color: lightgrey; 
        }


    }

/* --- END MAIN / PAGE CONTENT --- */




/* --- BEGIN FOOTER --- */

footer {
    order: 999;     /* Make it appear last in page */
    height:100%;
    padding: 10px;
    background-color:#bca33d;
}

footer p {
    margin: 0px;
    padding: 5px;
    color: white;
}

/* --- END FOOTER --- */