/* RESET */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout:
   HEADER (full width)
   BODY CONTENT AREA --- SIDEBAR | MAIN
*/
body {
    display: flex;
    flex-direction: column;
}

/* --- HEADER --- */

.header {
    width: 100%;
}

.headertitle {
    width: 100%;
    background-color: #363333;
}

.header .headertitle h1 {
    margin: 0;
    padding: 15px;
    color: white;
}

.header table {
    width: 75%;
}

.topnav {
    width: 100%;
    position: relative;
    background-color: #FFCC00;
}

.topnav:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
}

.header table tbody tr td a {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
    color: black;
}

.header table tbody tr td a:hover {
    color: white;
    transform: scale(1.1);
}

/* --- LAYOUT FOR SIDEBAR + MAIN --- */

/* Create a flex row container for sidebar + main */
.page-content {
    display: flex;
    flex: 1;             /* fill remaining vertical space */
}

/* --- SIDEBAR --- */

.sidenav {
    width: 20%;          /* FIXED WIDTH */
    background-image: linear-gradient(to bottom, #FFCC00, #bca33d);
    padding: 10px;
}

.sidenav ul {
    width: 100%;
}

.sidenav ul a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
}

.sidenav a:hover {
    color: white;
    transform: scale(1.1);
}

/* --- MAIN --- */

.main {
    flex: 1;             /* TAKE THE REST OF THE SPACE */
    padding: 20px;
}

/* --- FOOTER --- */

footer {
    padding: 10px;
    background-color: #bca33d;
}

footer p {
    margin: 0;
    padding: 5px;
    color: white;
}
