/* Style sheet for navigation sidebar and header */
/* As of writing, this style sheet relies on display_database_tools.php for HTML structure,
   specifically the render_display_database_page() funciton. */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


/* --- BEGIN HEADER --- */

.headertitle {
    width: 100%;
    background-color: #363333;
}

.header .headertitle h1 {
    margin: 0px;
    padding: 15px;
    color: white;
}

.header table {
    width: 75%;
}

.topnav {
    width: 100%;
    position: relative;
    background-color: #FFCC00;
}

.topnav:before {      /* Line divider */
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
}

.header table tbody tr td a {
    display: inline-block;
    padding: 10px;
    margin-left:10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
    color: black;
}

.header table tbody tr td a:hover {
    color: white;
    transform: scale(1.1);
}


/* --- END HEADER --- */



/* --- BEGIN SIDEBAR --- */

/* NOTE: Known bug where links will stretch outside of sidenav on smaller screens. May need to
refactor how the HTML is structured to fix this. */
.sidenav {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to bottom, #FFCC00, #bca33d);
}

.sidenav ul {
    width: 100%;
}

.sidenav ul a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
}

.sidenav a:hover {
    color: white;
    transform: scale(1.1);
}

/* --- END SIDEBAR --- */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* --- BEGIN FOOTER --- */

footer {
    height:100%;
    padding: 10px;
    background-color:#bca33d;
}

footer p {
    margin: 0px;
    padding: 5px;
    color: white;
}

/* --- END FOOTER --- */